@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

body {
    margin: 0 auto;
    padding: 0 2em;
    max-width: 50em;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    color: #555;
}

h1, h2 {
    margin-top: 0.5em;
    padding-top: 0.5em;
}

h1, h2, strong {
    color: rgb(43, 43, 43)222;
}